# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:

Ordered List:
Python
R
Java


| Data Science Tools | 
|_ _ _ _ _ _ _ _ _ _ |
| JupyterLab         | 
| RStudio            | 
| Apache Zepeelin    |

### Below are a few examples of evaluating arithmetic expressions in Python

 This a simple arithmetic expression to mutiply then add integers

In [4]:

x = 3
y = 4
z = 5

In [6]:
A= (x * y) + z
print(A)

17

In [7]:
# This will convert 200 minutes to hours by dividing by 60

minutes = 200
hours = minutes/60
hours

3.3333333333333335

Markdown cell contents:

**Objectives**
- Understand how to convert time units using Python
- Learn basic Python Syntax and expressions
- Explore markdown formatting in Jupyter Notebooks

**Author:** Tapash Das